{% extends "base.html" %}
{% block content %}
<h2>Registrar Visitante</h2>
<form method="POST">
    <label>Cédula:</label>
    <input type="text" name="ci" required>
    
    <label>Nombre:</label>
    <input type="text" name="name" required>
    
    <label>Empresa:</label>
    <input type="text" name="company">
    
    <label>Persona a visitar:</label>
    <input type="text" name="person_to_visit" required>
    
    <label>Motivo:</label>
    <input type="text" name="reason">
    
    <button type="submit">Registrar</button>
</form>
{% endblock %}
